[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = git@github.com:jpescador/hugo-future-imperfect.git
[submodule "public"]
	path = public
	url = git@github.com:yavila/yavila.github.io.git
	branch = master
